---
layout: landing-page
---		
<!-- Main -->
<article id="main">

	<section class="wrapper style1 container special intro-box">
		<div class="row">

			<div class="4u"> <section> <header> <h3><span class="fa fa-search
				fa-sm"></span> <a href="/research-areas">Cross-cutting
				Research</a></h3> </header> <p class="hyphenate">Achieving challenging
				research visions demands expertise in many research fields. Our group
				fosters collaborations among researchers with varied backgrounds. A
				positive feedback loop where practical problems inspire theoretical
				investigation and where formal solutions are applied to solve
				real-world challenges.</p> </section> </div>

			<div class="4u">
				<section>
					<header>
						<h3><a href="/education"><span class="fa fa-graduation-cap fa-sm"></span> Education & Training</a></h3>
					</header>
					<p class="hyphenate">
						We are strongly involved in bringing 
						bleeding-edge research topics to <a href="/education.html">students</a> and 
						<a href="/industry">industrial teams</a>. 
						BSc graduates can apply to the MSc package 
						in <a href="#">Digital Organisations: Models and Systems</a> at 
						<a href="https://www.sdu.dk">SDU</a>.
					</p>
				</section>
			</div>

			<div class="4u">
				<section>
					<header>
						<h3><a href="/industry"><span class="fa fa-briefcase fa-sm"></span> Industrial Collaboration</a></h3>
					</header>
					<p class="hyphenate">We seek strong synergies with industry. Industrial <a
						href="/industry.html">collaborations</a> drive the
						investigation of new <a
						href="/research-areas.html">theories</a> and the creation of
						new <a href="/software.html">software tools</a> to increase
					production efficiency.</p>

				</section>
			</div>

		</div>
	</section>

	<!-- Three -->
	<section class="wrapper style3 card container special">

		<header class="major">
			<h2>Latest Events</h2>
		</header>

		{% assign latest_posts = site.posts | slice: 0, 4%}
	
		<div class="row">
		<div class="6u">
		{% for post in latest_posts %}
		{% assign index = forloop.index | modulo: 2 %}
		{% if index == 1 %}
			<div class="12u">
				<section>
					<header>
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					<div class="card text-justify hyphenate"><div class="-1u 10u"><div class="mt-4"></div><small>{{ post.excerpt }}</small></div>
					<a class="nodec" href="{{ post.url }}"><button class="float-right btn btn-sm btn-primary">Continue reading</button></a></div>
					<div class="mt-4"></div>
				</section>
			</div>
		{% endif %}
		{% endfor %}
		</div>
		<div class="6u">
		{% for post in latest_posts %}
		{% assign index = forloop.index | modulo: 2 %}
		{% if index == 0 %}
			<div class="12u">
				<section>
					<header>
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					<div class="card text-justify hyphenate"><div class="-1u 10u"><div class="mt-4"></div><small>{{ post.excerpt }}</small></div>
					<a class="nodec" href="{{ post.url }}"><button class="float-right btn btn-sm btn-primary">Continue reading</button></a></div>
					<div class="mt-4"></div>
				</section>
			</div>
		{% endif %}
		{% endfor %}
		</div>
		</div>

		<footer class="major">
			<ul class="buttons">
				<li><a href="/events.html" class="button">Events Page</a></li>
			</ul>
		</footer>

	</section>

</article>