---
layout: default
---
<script src="/js/publications.js" type="text/javascript" charset="utf-8"></script>
<!-- Main -->
<article id="main">
	<header class="major container">
		<h2><strong>Publications</strong></h2>
		<p>A descriptive sentence.</p>
	</header>
	<!-- One -->
	<section class="wrapper style4 container">
		<!-- Content -->
		<div class="content">
			<section>
				<p>Filter by :<span id="filters" >
					
				</span>
			</p>
			
			<div id="papers">

		  {% for item in site.data.papers %}
				<h4>{{ item.year }}</h4>
		  	<ul>
		  
		  	{% for paper in item.papers %}
		  		<li>
		  			<p>
		  			{{ paper.content }} 
		  			| bibitem: {{ paper.bibitem }}
		  			| pdf: {{ paper.pdf }}
		  			{% for tag in paper.tags %}
		  			<span class="badge badge-light">{{ tag }}</span>
  					{% endfor %}
						</p>
		  		</li>
  			{% endfor %}
		  
		  	</ul>
  		
  		{% endfor %}

			</div>

		</section>
	</div>
</section>
</article>