<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner col-sm-12 col-md-6 col-lg-5">

        <header> <h2>{{ site.group_short }} Group</h2> </header>
        <!-- <p>Theoretical foundations and tools to automatise<br> 
        software system creation and management.</p>  -->
        <p>{{ site.group_name }}</p>
    </div>
</section>