<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
    </ul>

<div class="copyright">
  <div class="row">
    <div class="col-2 offset-2">
      <a class="nodec" href="https://www.sdu.dk/en">
          <img style="width:100px;" src="/images/sdu.png" alt=""></a>
    </div>
    <div class="col-6">
        <p><small>The Programming, Logics, and Systems Group website is supported and hosted by the <a
        href="https://www.sdu.dk/en/Om_SDU/Institutter_centre/Imada_matematik_og_datalogi">Department
        of Mathematics and Computer Science</a> of the <a href="https://www.sdu.dk/en">University 
        of Southern Denmark</a>.</small></p>
     </div>
  </div>
</div>
</footer>