
<!-- Footer -->
<footer id="footer" class="bg-dark">

<div class="copyright">
  <div class="row">
    <div class="col-sm-3">
      <a class="nodec" href="https://www.sdu.dk/en">
          <img style="width:100px;" src="/images/sdu.png" alt=""></a>
    </div>
    <div class="col-sm-6">
        <p><small>The Programming, Logics, and Systems Group website is supported and hosted by the <a
        href="https://www.sdu.dk/en/Om_SDU/Institutter_centre/Imada_matematik_og_datalogi">Department
        of Mathematics and Computer Science</a> of the <a href="https://www.sdu.dk/en">University 
        of Southern Denmark</a>
        <br>
        <a href="https://www.sdu.dk/en/om_sdu/om_dette_websted/databeskyttelse">Data protection at SDU</a> |
        <a href="https://www.sdu.dk/da/om_sdu/om_dette_websted/databeskyttelse">Databeskyttelse på SDU</a>
        <br>
        <a href="/humour.html">Humour</a>     
      </small>

      </p>

     </div>
  </div>
</div>
</footer>