<script>
var nav_toggle = function(){ 
  $( "#navbar" ).toggleClass('fixed-top').toggleClass('static-top');
  $( "#nav_spacer" ).toggleClass('d-none');
};
var nav_switch = function() {
  var min_height = 400; // pixels
  if ( 
    ( $( window ).height() < min_height && $( "#navbar" ).hasClass( 'fixed-top'  ) ) ||
    ( $( window ).height() > min_height && $( "#navbar" ).hasClass( 'static-top' ) )
  ){ nav_toggle(); }
};
$( nav_switch );$( window ).resize( nav_switch );
</script>
<style>
  .header-nav .navbar-brand a, .header-nav .nav-link{
    color: white !important;
  }
</style>
<div id="nav_spacer" class="mb-4 pb-5"></div>
<nav id="navbar" class="header-nav pl-3 navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-brand">
    <strong class="d-inline">
    <a href="https://www.sdu.dk/en/Om_SDU/Institutter_centre/Imada_matematik_og_datalogi">IMADA</a>
    </strong>
    <span class="d-inline "> > </span>
      <a href="/">
        <strong class="d-inline d-xl-none">{{ site.group_short }}</strong>
        <strong class="d-none d-xl-inline">{{ site.group_name }}</strong>
        <span class="d-none d-md-inline">Group</span>
      </a>
    </div>
    <div class="ml-auto">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="clear-fix"></div>
        <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
            <ul class="navbar-nav">
            {% for item in site.data.menu %}
                {% if item.subitems %}
                <li class="nav-item my-2 my-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ item.link }}" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false">{{ item.title }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for subitem in item.subitems %}
                        <a class="dropdown-item" href="{{ subitem.link }}">{{ subitem.title }}</a>
                      {% endfor %}
                    </div>
                  </li>
                </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
              </li>
              {% endif %}
          {% endfor %}
          </ul>
      </div>
      </div>
</nav>
