{% if site.data.people_former.size > 0 %}

<hr>

<h2>Former Members</h2>

<div class="row">
{% for person in site.data.people_former %}

<div class="col-sm-12 col-lg-6">
<div class="row">
<div id="{{person.id}}" class="text-center col-sm-5">
<img style="max-height: 8em;" class="img-thumbnail" src="{{person.photo}}" alt="">
</div>
<div class="col-sm-7">
<div class="row">
<div class="col-sm-12"><strong>{{ person.name }}</strong></div>
<div class="col-sm-12">Former {{ person.role }}</div>
{%if person.website %}
<div class="col-sm-6">
    <small><a class="nodec" href="{{ person.website }}"><span class="fa fa-desktop"></span> Website</a></small>
</div>
{% endif %}
{%if person.email != blank %}
<div class="col-sm-6">
    <small><a class="nodec" href="mailto:{{ person.email | encode_email }}"><span class="fas fa-envelope"></span> E-mail</a></small>
</div>
{% endif %}
{%if person.phone != blank %}
<div class="col-sm-6">
    <small><a class="nodec" href="https://orcid.org/{{ person.orcid }}"><span class="ai ai-orcid"></span> ORCID</a></small>
</div>
{% endif %}
{%if person.dblp != blank %}
<div class="col-sm-6">
    <small><a class="nodec" href="https://dblp.uni-trier.de/pid/{{ person.dblp }}"><span class="ai ai-dblp"></span> DBLP</a></small>
</div>
{% endif %}
{%if person.google_scholar != blank %}
<div class="col-sm-6">
    <small><a class="nodec" href="https://scholar.google.com/citations?user={{ person.google_scholar }}"><span class="ai ai-google-scholar"></span> Scholar</a></small>
</div>
{% endif %}
{%if person.github != blank %}
<div class="col-sm-6">
    <small><a class="nodec" href="https://github.com/{{ person.github }}"><span class="icon fa-github"></span> Github</a></small>
</div>
{% endif %}
{%if person.twitter != blank %}
<div class="col-sm-6">
    <small><a class="nodec" href="https://twitter.com/{{ person.twitter }}"><span class="icon fa-twitter"></span> Twitter</a></small>
</div>
{% endif %}
{%if person.linkedin != blank %}
<div class="col-sm-6">
    <small><a class="nodec" href="https://linkedin.com/in/{{ person.linkedin }}"><span class="icon fa-linkedin"></span> LinkedIn</a></small>
</div>
{% endif %}
</div>
</div>
</div>
<div style="margin-top:1em;" class="-col-sm-1 col-sm-9">
<p style="text-align: justify;" class="hyphenate"><small>{{ person.bio }}</small></p>
</div>
<div style="margin-top:-1em; margin-bottom:2em;" class="col-sm-12">
  <small>Research Topics:
{% for topic in person.research_topics %}
<a class="nodec" style="font-size:smaller; font-weight: 600;" class="nodec text-muted">{{ topic | capitalize_all }}</a>
{% if forloop.last == false %},{% endif %}
{% endfor %}</small>
</div>
</div>
{% assign index = forloop.index | modulo: 2 %}
{% if index == 0 %}
</div><div class="row">
{% endif %}
{% endfor %}
</div>
{% endif %}
