---
layout: default
---

  <article id="main">
  <header class="major container">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">
			{% if page.place %}{{ page.place }} • {% endif %}
      {% if page.date-end %} 
        {{ page.date | date: "%b %-d, %Y" }} - {{ page.date-end | date: "%b %-d, %Y" }}
      {% else %}
			   {{ page.date | date: "%b %-d, %Y" }}
      {% endif %}
			{% if page.author %} • {{ page.author }}{% endif %}
			{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section class="style4 card wrapper container">
    {{ content }}
  </section>
  
  {% if page.previous or page.next %}
  <section class="style4 card container">
    <div class="reset">
    {% if page.previous %}
    <a href="{{ page.previous.url }}" class="post-prev"><button class="btn btn-light"><span class="fa fa-arrow-circle-left"></span> Previous post</button></a>
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url }}" class="post-next"><button class="btn btn-light">Next post <span class="fa fa-arrow-circle-right"></span></button></a>
    {% endif %}
    </div>
	</section>
  {% endif %}
  
</article>

