---
layout: landing-page
---
<!-- Main -->
<div class="container">
	<div class="row">
		<div class="bg-alert-success pt-2 mb-3 offset-lg-2 col-lg-8 col-12">
			<section class="card-body pb-0">
				<div class="text-justify hyphenate">
				<p>Welcome to the website of the Section of {{ site.group_name }} at the <a href="https://imada.sdu.dk/" target="_new">Department of Mathematics and Computer Science</a>, <a href="https://www.sdu.dk/">University of Southern Denmark</a>.</p>
				<p>Our mission is to push the boundaries of what modern digital systems can do, by breaking new ground in and establishing
				synergies between the fields of artificial intelligence, cybersecurity, and programming technology. Computer systems,
				like data clouds and the Internet of Things, are getting increasingly larger and more complex, both in terms of software
				and hardware. We have crossed the limits of checking manually that computer programs do what they are supposed to do,
				and that they do so efficiently and securely.
				</p>
				
				<p>
				In our group, we develop theory and tools that support developers in the modelling, analysis, coordination, and
				programming of systems. We investigate methods that automate and optimise crucial steps of the development and deployment processes,
				enhancing their efficiency and reliability, and we build solutions and libraries that increase the security of systems.
				</p>
				</div>
			</section>
		</div>
	</div>
</div>

<section class="container">
<div class="row">

<div class="mb-5 col-lg-6 col-12">

		<div class="col-12">
		<h2 class="text-center">Featured News</h2>

			{% assign fnews = 0 %}
			{% for post in site.posts %}
			{% if fnews < 4 and post.tags contains "featured" %}
			{% assign fnews = fnews | plus: 1 %}
			<section class="border-0">
				<div class="card-body">
					<div class="card-title pl-1 pb-1 pr-1 alert-info rounded-top">
						<h3 class="text-center"><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<div style="margin-top:-1.5em;" class="small text-right text-muted">
					      {% if post.date-end %} 
					        {{ post.date | date: "%b %-d, %Y" }} - {{ post.date-end | date: "%b %-d, %Y" }}
					      {% else %}
					         {{ post.date | date: "%b %-d, %Y" }}
					    	{% endif %}
				    	</div>
					</div>
					<div style="margin-top: -.8em;" class="card border border-top-0 text-justify hyphenate">
						<div class="small col-12"><div class="pt-4"></div>{{ post.excerpt }}</div>
						<a class="nodec float-right" href="{{ post.url }}">
							<button class="rounded-0 btn btn-light">Continue reading <span class="fa fa-arrow-circle-right"></span></button>
						</a>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="mt-4"></div>
			</section>
			{% endif %}
			{% endfor %}
		</div>
	</div>

<div class="col-lg-6 col-12">


		<div class="col-12">
		<h2 class="text-center">Latest News</h2>

			{% assign news = 0 %}
			{% for post in site.posts %}
			{% if news < 4 %} 
				{% unless post.tags contains "featured" %}
					{% assign news = news | plus: 1 %}
					<section class="border-0">
						<div class="card-body">
							<div class="card-title pl-1 pb-2 pr-1 alert-info rounded-top">
							<h3 class="text-center"><a href="{{ post.url }}">{{ post.title }}</a></h3>
							<div style="margin-top:-1.5em;" class="small text-right text-muted">
					      {% if post.date-end %} 
					        {{ post.date | date: "%b %-d, %Y" }} - {{ post.date-end | date: "%b %-d, %Y" }}
					      {% else %}
					         {{ post.date | date: "%b %-d, %Y" }}
					    	{% endif %}
					    	</div>
							</div>
							<div style="margin-top: -1.2em;" class="card border border-top-0 text-justify hyphenate">
								<div class="small col-12"><div class="pt-4"></div>{{ post.excerpt }}</div>
								<a class="nodec float-right" href="{{ post.url }}">
									<button class="rounded-0 btn btn-light">Continue reading <span class="fa fa-arrow-circle-right"></span></button>
								</a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="mt-4"></div>
					</section>
				{% endunless %}
			{% endif %}
			{% endfor %}
		</div>
	</div>

</div>
</section>
{% comment %}
<footer class="major pb-5">
	<ul class="buttons pl-0">
		<li><a href="/events.html" class="button">Events Page</a></li>
	</ul>
</footer>
{% endcomment %}